@model IEnumerable<GelisimTablosu.Models.Kategori>
@{
    ViewData["Title"] = "Kategoriler";
}
<h1>Kategoriler</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Ad</td>
    
        <td>
            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Detay</a>
            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
        </td>
    </tr>
}
    </tbody>
</table>
